---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Nightjar">
	<main>
		<Banner />
		<div class="content">

		</div>
	</main>
</Layout>

<style>

main {
}

.content {
	width: 100%;
}

</style>
