---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Nightjar">
	<main>
		<Banner />
		<div class="content">
			<p class="notice">
				I'm looking for a Chiptune artist and Pixel artist.
				<br />
				<br />
				Please feel free to <a href="">join the Discord</a>, and/or message me on Discord ( <code>@tengille</code> ).
				for more information. I can also be reached <a href="mailto:melitengille@gmail.com"> via email</a>.
				<br />
				<br />
				<b>These are paid positions, and no game experience is required</b>. In the effort of full transparency,
				while paid positions, neither of these are "mega-bucks", and will the need could be sporadic
				at times, as I am a solo developer.
			</p>
			<p>
				Named after <a target="_blank" href="#">the bird</a>, <b>Nightjar</b> is a "Metal Gear-like"
				game.
			</p>
			<p>
				I've always enjoyed the Metal Gear series, and this is my attempt to get back into game development,
				make something I enjoy, but not fall into the "crazy scope" trap that burgeoning game devs fall
				into.
			</p>
			<p>
				I am using <a target="_blank" href="">GameMaker</a>, an engine I have a little bit of experience
				with, but not much. If you're interested, feel free to join <a target="_blank" href="#">the Discord</a>.
			</p>

			<h3>resources</h3>
			<p>
				This list is incomplete, as when I get into "Google'ing mode", I may forget to mark down as
				to exactly <i>where</i> I obtained information from, but I'll do my best to keep this updated
				for any other interested parties.
			</p>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=qTqDY4JtFfo&list=PL14Yj-e2sgzxTXIRYH-J2_PWAZRMahfLb">Peyton Burnham's Top Down Shooter Tutorial</a></li>
			</ul>

			<h3>logs</h3>
			<ul>
				<li><a href="./logs/01102024">01102024</a></li>
				<li><a href="./logs/01172024">01172024</a></li>
				<li><a href="./logs/01242024">01242024</a></li>
				<li><a href="./logs/02142024">02142024</a></li>
			</ul>
		</div>
	</main>
</Layout>

<style>

main {
}

.content {
	width: 100%;
}

</style>
