---
// interface Props {
//   source: string,
// }
// const { source } = Astro.props;

const bannerImages = await Astro.glob('../../public/banners/*')
  .then(images => { return images.map(image => image.default); });
const randomBannerImage = bannerImages[Math.floor(Math.random() * bannerImages.length)];
---

<div class="banner"
     onclick="window.location.href = '/'"
     style=`background-image: url(${randomBannerImage.src});`
  >
  <div class="title">NIGHTJAR</div>
</div>

<style>

  @font-face {
    font-family: 'MGS';
    src: url(../../public/fonts/METAG___.TTF);
  }

.banner {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 360px;
  width: 100%;
}

.banner .title {
  font-family: 'MGS';
  font-size: 36px;
  padding: 10px;
}

</style>

<script>
</script>
